<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.illuminatingsw.myapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.illuminatingsw.myapp.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.illuminatingsw.myapp.newactivity2"
            android:label="@string/title_activity_newactivity2"
            android:parentActivityName="MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity
            android:name="com.illuminatingsw.myapp.ItemListActivity"
            android:label="@string/title_item_list" >
        </activity>
        <activity
            android:name="com.illuminatingsw.myapp.ItemDetailActivity"
            android:label="@string/title_item_detail"
            android:parentActivityName=".ItemListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ItemListActivity" />
        </activity>
        <activity
                android:name=".InfoActivity"
                android:label="@string/title_item_list" />
        <activity
                android:name=".SpanishActivity"
                android:label="Español"/>
        <activity
                android:name=".CarplsActivity"
                android:label="CARPLS Info" />
        <activity
                android:name=".ILAOActivity"
                android:label="Illinois Legal Aid Info"/>
    </application>

</manifest>
